<html>
<head>
<meta charset="utf-8"/>
<title>Index</title>
</head>
<body>

  {% if eletronicvehicle %}
  <p>Hello {{ eletronicvehicle }}</p>
  <p> {{welcome}}</p>
  To Insert EV information <a href="/add" >Insert EV</a>
  {% else %}
  <p>Hello guest welcome to the application</p>
  {% endif %}
  <p>you can {{ url_string }} <a href='{{ url }}'>here</a></p>


  <hr />
   <table border = "1"><thead><tr><th>ID</th><th>Email ID</th><th>Name</th><th>Manufacturer</th><th>Year</th><th>Bettery Size</th><th>Power</th><th>WLTP Range</th><th>Cost</th><th>Rating</th></tr></thead><tbody>
     {{list}}
     {% for ev in showList %}
      <tr style="text-align:center;"><td>{{loop.index}}</td>
      {% for e in ev %}
        <td>{{e.email_address}}</td><td><a href='/Details?key={{e.key.id()}}'>{{e.name}}</a></td><td>{{e.manufacturer}}</td><td>{{e.year}}</td>
         <td style=
        {% if e.btrysize == btrysize: %}
           "color:green;"
        {% else: %}
            "color:red;"
        {%endif%}
        >{{e.btrysize}}</td>
        <td style=
       {% if e.power == power: %}
          "color:green;"
       {% else: %}
           "color:red;"
       {%endif%}
       >{{e.power}}</td>
      <td style=
      {% if e.wltprng == wltp: %}
          "color:green;"
      {% else: %}
           "color:red;"
      {%endif%}
      >{{e.wltprng}}</td>
      <td style=
      {% if e.cost == cost: %}
         "color:red;"
      {% else: %}
          "color:green;"
      {%endif%}
      >{{e.cost}}</td>
     {% endfor %}
     <td style=
     {% if avgratl[loop.index-1] == avgrat: %}
        "color:green;"
     {% else: %}
         "color:red;"
     {%endif%}
     >{{avgratl[loop.index-1]}}</td>
      </tr>
    {% endfor %}
   </tbody></table>
   <hr />
   <p>you can Search <a href='/search'>here</a></p>
   <p>back To <a href='/'>Home</a></p>
</body>
</html>
